<section class="container">
  <fa-icon [icon]="faCoffee" class="list__arrow" (click)="showMenu()"></fa-icon>
</section>
<ng-container *ngIf="(episode$ | async) as episodes ; else loader" >
  {{episodes.length}}


</ng-container>

<ng-template #loader>
  <app-loader ></app-loader>
</ng-template>


  <!-- <section class="container">
    <fa-icon [icon]="faCoffee" class="list__arrow" (click)="showMenu()">arrowLeft</fa-icon>
    <div class="episodes__data">
      <div *ngFor="episode of episodes" class="episode__data">
         <div class="episode__name"><p>Nazwa odcinka:</p><p>{{episode.name}}</p></div>
        <div class="episode__airDate"><p>Data emisji:</p><p>{{episode.air_date}}</p></div> -->


      <!-- </div>
      </div>
  </section>  -->
